Автор материала: Юрий Кашницкий (@yorko в Slack ODS). Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

## <center>Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории).**
Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [20]:
import pandas as pd

In [21]:
data = pd.read_csv("../data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [22]:
# Ваш код здесь
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст (признак *age*) женщин?**

In [23]:
# Ваш код здесь
data[data['sex']=='Female']['age'].mean()

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [24]:
# Ваш код здесь
len(data[data['native-country']=='Germany'])/len(data)

0.004207487485028101

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [25]:
# Ваш код здесь
data[['age','salary']].groupby('salary')['age'].mean()

salary
<=50K    36.783738
>50K     44.249841
Name: age, dtype: float64

In [26]:
# Ваш код здесь
data[['age','salary']].groupby('salary')['age'].std()

salary
<=50K    14.020088
>50K     10.519028
Name: age, dtype: float64

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [27]:
# Ваш код здесь
wealthy = data[data['salary']=='>50K']

education_filter = \
(wealthy['education'] == 'Bachelors') | \
(wealthy['education'] == 'Prof-school') | \
(wealthy['education'] == 'Assoc-acdm') |  \
(wealthy['education'] == 'Assoc-voc') | \
(wealthy['education'] == 'Masters') | \
(wealthy['education'] == 'Doctorate')

education_filter.all()

False

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [28]:
# Ваш код здесь
data[['age', 'race', 'sex']].groupby(['race', 'sex']).describe()

                               age                                          \
                             count       mean        std   min   25%   50%
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0


                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

In [29]:
data[data['race']=='Amer-Indian-Eskimo']['age'].max()

82

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [30]:
# Ваш код здесь
wealthy['marital-status'].unique()

array(['Married-civ-spouse', 'Never-married', 'Divorced', 'Separated',
       'Widowed', 'Married-spouse-absent', 'Married-AF-spouse'],
      dtype=object)

In [31]:
def result(ans):
    print('Среди ' + ans + ' мужчин доля зарабатывающих много (>50K)')
    
men = data[data['sex'] == 'Male']
wealthy_men = data[(data['sex'] == 'Male') & (data['salary']=='>50K')]
married_men = data[(data['sex'] == 'Male') & (data['marital-status'].str.startswith('Married'))]
single_men = data[(data['sex'] == 'Male') & (data['marital-status'].isin(['Never-married', 'Divorced', 'Separated', 'Widowed']))
]

married_filter = \
(wealthy_men['marital-status'] == 'Married-civ-spouse') | \
(wealthy_men['marital-status'] == 'Married-spouse-absent') | \
(wealthy_men['marital-status'] == 'Married-AF-spouse')

single_filter = \
(wealthy_men['marital-status'] == 'Never-married') | \
(wealthy_men['marital-status'] == 'Divorced') | \
(wealthy_men['marital-status'] == 'Separated') | \
(wealthy_men['marital-status'] == 'Widowed')

wealthy_married_men = wealthy_men[married_filter]
wealthy_single_men = wealthy_men[single_filter]

wealthy_married_proportion = len(wealthy_married_men)/len(wealthy_men)
wealthy_single_proportion = len(wealthy_single_men)/len(single_men)

if wealthy_married_proportion > wealthy_single_proportion:
    result('женатых')
elif wealthy_married_proportion < wealthy_single_proportion:
    result('холостых')

Среди женатых мужчин доля зарабатывающих много (>50K)

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [32]:
# Ваш код здесь
hpw_max = data['hours-per-week'].max()
print('Максимальное число часов человек работает в неделю - {0}'.format(hpw_max))

hard_workers = data[data['hours-per-week'] == hpw_max]
print('Общее количество людей работающих такое количество часов - {0}'.format(len(hard_workers)))

wealthy_hard_workers = hard_workers[hard_workers['salary'] == '>50K']
print('Процент зарабатывающих много среди них - {0}%'.format(len(wealthy_hard_workers)/len(hard_workers)*100))

Максимальное число часов человек работает в неделю - 99
Общее количество людей работающих такое количество часов - 85
Процент зарабатывающих много среди них - 29.411764705882355%

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [33]:
# Ваш код здесь
for (country, salary), sub_df in data.groupby(['native-country', 'salary']):
    print(country, salary, round(sub_df['hours-per-week'].mean(), 4))

? <=50K 40.1648
? >50K 45.5479
Cambodia <=50K 41.4167
Cambodia >50K 40.0
Canada <=50K 37.9146
Canada >50K 45.641
China <=50K 37.3818
China >50K 38.9
Columbia <=50K 38.6842
Columbia >50K 50.0
Cuba <=50K 37.9857
Cuba >50K 42.44
Dominican-Republic <=50K 42.3382
Dominican-Republic >50K 47.0
Ecuador <=50K 38.0417
Ecuador >50K 48.75
El-Salvador <=50K 36.0309
El-Salvador >50K 45.0
England <=50K 40.4833
England >50K 44.5333
France <=50K 41.0588
France >50K 50.75
Germany <=50K 39.1398
Germany >50K 44.9773
Greece <=50K 41.8095
Greece >50K 50.625
Guatemala <=50K 39.3607
Guatemala >50K 36.6667
Haiti <=50K 36.325
Haiti >50K 42.75
Holand-Netherlands <=50K 40.0
Honduras <=50K 34.3333
Honduras >50K 60.0
Hong <=50K 39.1429
Hong >50K 45.0
Hungary <=50K 31.3
Hungary >50K 50.0
India <=50K 38.2333
India >50K 46.475
Iran <=50K 41.44
Iran >50K 47.5
Ireland <=50K 40.9474
Ireland >50K 48.0
Italy <=50K 39.625
Italy >50K 45.4
Jamaica <=50K 38.2394
Jamaica >50K 41.1
Japan <=50K 41.0
Japan >50K 47.9583
Laos <=50K 40.375
Laos >50K 40.0
Mexico <=50K 40.0033
Mexico >50K 46.5758
Nicaragua <=50K 36.0938
Nicaragua >50K 37.5
Outlying-US(Guam-USVI-etc) <=50K 41.8571
Peru <=50K 35.069
Peru >50K 40.0
Philippines <=50K 38.0657
Philippines >50K 43.0328
Poland <=50K 38.1667
Poland >50K 39.0
Portugal <=50K 41.9394
Portugal >50K 41.5
Puerto-Rico <=50K 38.4706
Puerto-Rico >50K 39.4167
Scotland <=50K 39.4444
Scotland >50K 46.6667
South <=50K 40.1562
South >50K 51.4375
Taiwan <=50K 33.7742
Taiwan >50K 46.8
Thailand <=50K 42.8667
Thailand >50K 58.3333
Trinadad&Tobago <=50K 37.0588
Trinadad&Tobago >50K 40.0
United-States <=50K 38.7991
United-States >50K 45.5054
Vietnam <=50K 37.1935
Vietnam >50K 39.2
Yugoslavia <=50K 41.6
Yugoslavia >50K 49.5